<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bookmarked Venues
  </div>

  <ul class="list-group list-group-flush">
    <% @user.bookmarked_venues.each do |venue| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/venues/<%= venue.id %>">
          <%= venue.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
