<% if @venue.present? %>
  <% if @venue.errors.any? %>
    <% @venue.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new venue
</h1>


<hr>

<form action="/create_venue" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @venue.name %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @venue.address %>">
  </div>

  <div class="form-group">
    <label for="neighborhood_id">
      Neighborhood
    </label>

    <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name, @venue.neighborhood_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
