<!-- Validation failure messages -->
<% if @venue.present? %>
  <% if @venue.errors.any? %>
    <% @venue.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new venue
</h1>


<hr>

<!-- Form venue start -->
<form action="/create_venue" method="post">
<!-- Form venue end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @venue.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for address start -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <!-- Input for address start -->
    <input type="text" id="address" name="address" class="form-control" value="<%= @venue.address %>">
    <!-- Input for address end -->
  </div>
  <!-- Label and input for address end -->

  <!-- Label and input for neighborhood_id start -->
  <div class="form-group">
    <label for="neighborhood_id">
      Neighborhood
    </label>

    <!-- Input for neighborhood_id start -->
    <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name, @venue.neighborhood_id), :class => "form-control") %>
    <!-- Input for neighborhood_id end -->
  </div>
  <!-- Label and input for neighborhood_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
