<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bookmarks

    <a data-toggle="collapse" href="#dish_bookmarks_new_form">
      Add bookmark
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @dish.bookmarks.each do |bookmark| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bookmarks/<%= bookmark.id %>">
          <%= bookmark.notes %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%if current_user == bookmark.user %>
          <a href="/delete_bookmark_from_dish/<%= bookmark.id %>">
            Delete
          </a>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="dish_bookmarks_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "dish_templates/dish_bookmarks_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
