<h1>
  Edit dish #<%= @dish.id %>
</h1>

<hr>

<form action="/update_dish/<%= @dish.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @dish.name %>">
  </div>

  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @dish.cuisine_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update dish
  </button>
</form>

<hr>

<a href="/dishes">
  Go back
</a>
