<h1>
  Edit neighborhood #<%= @neighborhood.id %>
</h1>

<hr>

<!-- Form neighborhood start -->
<form action="/update_neighborhood/<%= @neighborhood.id %>" method="post">
<!-- Form neighborhood end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @neighborhood.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update neighborhood
  </button>
</form>

<hr>

<a href="/neighborhoods">
  Go back
</a>
