<form action="/create_dish_from_cuisine" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @dish.name %>">
  </div>

  <input type="hidden" name="cuisine_id" value="<%= @cuisine.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create dish
  </button>
</form>
